ad{display: block;
padding-bottom: 20px;
border:  2px dashed red;
padding:  150px;
border-radius : 25px;
background-color: powderblue;

}
make,model,description,seller{
    color: blue;
    font-weight:  bolder;
    font-family:  helvetica;

}
year, color, price, city, state{

    color:  red;
}
