student_catalog{
	display:block;
	padding-bottom: 10px;
	border:  5px solid white;
	border-radius:  35px;
	background-color: powderblue;
	padding:  100px;
}
name{
	color: red ;
	font-size: 25px;
	font-weight: bolder;
	font-family:  calibri;
}
